[Unit]
Description=visync
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/david/visync-dist/adapter/start-server

[Install]
WantedBy=multi-user.target
